.signup{
    margin-top: 3%;
    margin-left: 12%;
    font-size:16px;
}

.signup:hover{
    color: purple;
    cursor: pointer;
}

.forget{
    color: red;
    margin-top:3%;
    margin-left: 38%;
}
.forget:hover{
    opacity: 50%;
    cursor: pointer;
}